*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #2b192f;
    font-family: 'Montserrat';
}
a{
    color: rgb(202, 95, 95);
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.hero-wrapper{
    background:url('/img/photo_2021-03-18_14-54-33.jpg');
    background-size: cover;
    
}
.wrapper{
    padding: 1.5em;
    max-width: 1200px;

}
header{
    display: flex;
    justify-content: space-between;
    .logo{
        font-weight: blod;
        }
    ul{
        display: flex;
         
        li a{
            
      padding: 0 .6em;
        }
    }
}